* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    /*background: linear-gradient(to top right, rgba(0, 0, 40, 0.53) 50%, #ffffff 90%);*/
    /*background-color: rgba(247,234,117,.36);*/
    /*background-color: #fbe9e7;*/
    /*background-image: url(img/logo/bcg-main-1jpg.jpg);*/
    /*background-image: url(img/logo/bcg-main-1jpg.jpg), linear-gradient(to top right, rgba(255, 255, 255, 0.53) 50%, #ffffff 90%);*/
    background: url(img/logo/bcg-main-1jpg.jpg) fixed center;
    background-size: 100%;
}

.transform-wrapper {
    transform : translate(-500px);
}

._right500 {
    right : -500px;
}
.vkblock .owl-stage-outer {
    box-shadow: none !important;
}
.owl-prev {
    position: absolute !important;
    top: 90px !important;
    left: -20px !important;
}
.owl-next {
    position: absolute !important;
    top: 90px !important;
    right: 15px !important;
}
.content_foto {
    width: 80%;
    margin: 0 auto;
}
.fa-phone, .fa-mail {
    position: relative;
}
.fa-phone:before {
    content: "\f095";
    left: -30px;
}

.fa-mail:before {
    content: "\f003";
    left: -34px
}
.fa-phone:before, .fa-mail:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #ffffff;
    font-size: 30px;
    padding-right: 0.5em;
    position: absolute;
    top: 1px;

}

#vk-slider >div {
    box-shadow: none;
}

#vk-slider .item {
    border-radius: 200px;
}
.container {
    padding-bottom: 150px;
}
._width-300 {
    width: 300px;
}
._width-500 {
    width: 500px;
}
._text-color-white {
    color: white;
}
._margin-bottom-10 {
    margin-bottom: 10px;
}
._margin-bottom-50-imp {
    margin-bottom: 50px !important;
}
._padding-20-important {
    padding: 20px !important;
}
.wrapper {
    position: relative;
    width: 980px;
    min-height: 400px;
    margin: 0 auto 20px;
    margin-bottom: 0;
}
.dl-menu a {
    text-decoration: none;
}
.vkblock .owl-carousel .owl-item img {
    height: 100% !important;
    width: auto !important;
}
.header-mobile {
    min-height: 400px;
    margin-bottom: 20px;
}
.shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}
.shadow2 {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
}
.background-c-burgundy {
    background-color: #792433;
}
.gray {
    background-color: gray;
}
._color_gray {
    color: white;
}
.btn_tell {
    padding: 30px 40px;
    border-radius: 70px;
    border: 5px solid black;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    font-family: "Arial Black";
}

.contacts_info {
    display: flex;
    align-self: center;
    flex-direction: row;
}
.contacts_info .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 500px;
    overflow: hidden;
}
.contacts_info .foto > img {
    height: 100%;
}
.contacts_info .info {
    margin-left: 50px;
    height: 300px;
    width: 500px;
    padding: 30px;
}
.contacts_info .info .name {
    font-family: helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
    text-align: left;
}
.contacts_info .info .position {
    font-family: helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
    text-align: left;
    color: rgb(162, 35, 10);
    margin-top: 10px;
    margin-bottom:  10px;
}
.contacts_info .info .text {
    max-width: 450px;
    font-family: eb garamond,serif;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    color: rgb(133, 133, 133);
    margin-top: 10px;
    margin-bottom: 20px;
}
.contacts_info .info .email, .contacts_info .info .phone {
    font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    color: #605E5E;
}

h1, h2, h3 {
    width: 100%;
    font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;

    color: #605E5E;
    text-align: center;
}

h1 {
    font: normal normal normal 4em/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    font-weight: bold;
    color: black;
}

h2 {
    font: normal normal normal 3em/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
}

h3 {
    font: normal normal normal 2em/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
}

h4 {
    font: normal normal normal 27px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
}

@media screen and (max-width: 991px){
    .wrapper-block-title {
        margin: 20px auto;
        width: 920px;
        min-height: 50px;
        padding: 15px 15px 15px 15px;
        background-color: #792433;
        color: white !important;
        box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    }
    .wrapper-block-title > div {
        margin: 0 auto;
        border: 3px solid white;
        width: 890px;
        min-height: 44px;
        background-color: #d50000;
        padding: 10px
    }
    .wrapper-block-title h2 {
        color: white !important;
    }
    .owl-next {
        position: absolute !important;
        top: 90px !important;
        right: 0px !important;
    }
    .catalog-block .catalog-item .text {


    }
    #vk_community_messages {
        display: none;
    }

    body {
        height: 100vh;
        background: rgba(247,234,117,.36);
    }

    #question-block {
        min-width: 100% !important;
        top: 0;
    }
    #question-form, #tellform {
        margin: 0 !important;
        height: 100%;
        width: 100%;
    }

    #question-block input {
        margin-bottom: 50px;
    }

    .close-question {
        position: absolute;
        max-width:100px;
        width: 180px;
        right: 20px;
        top: 20px;
    }

    .close-tellform {
        margin-top: 40px;
        position: absolute;
        top: -50px;
        right: -30px;
    }

    #question-form h3, #tellform h3 {
        margin-top: 200px;
    }

    #question-form .form-inner input, #tellform .form-inner input {
        height: 80px;
        border-radius: 50px;
    }

    #question-form .btn-form-question, #tellform .btn-form-tell{
        margin-top: 80px;
        height: 120px !important;
    }

    .open-question {
        width: 120px !important;
        height: 120px !important;
    }

    #footer-title {
        font-size: 24px !important;
    }

    .vkblock .vk-foto-item {
        width: 180px;
        height: 180px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .wrapper {
        background: rgba(240,240,240,1);


    }

    .wrapper-block {
        opacity: 0.8;
        margin: 20px auto;
        width: 920px;
        min-height: 300px;
        padding: 35px 35px 15px 35px;
        background-color: white;
        box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
        font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    }

    .header-mobile {
        padding: 10px;
    }

    .header-mobile span {
        display: inline-flex;
        width: 100%;
    }

    .header-mobile .menu {
        height: 100%;
        position: absolute;
        background-color: orange;
        right: 0;
        width: 400px;
    }


    .content_foto {
        width: 920px;
        margin: 0 auto;

    }
    .five-stars .causes {
        width: 100%;
    }

    .five-stars .causes > div {
        width: 100%;
        min-height: 120px;
        margin: 20px auto;
        text-align: center;
        vertical-align: center;
        padding: 10px;
        box-sizing: border-box;
        background-color: #792433;
    }

    .five-stars .causes > div > div {
        min-height: 100px;
        border: 5px solid white;
        width: 830px;
        color: white;
        font: normal normal normal 15px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
        background-color: rgba(179, 1, 1, 1);
    }

    .btn_tell{
        margin: 0 auto;
        font-size: 2em;
    }

    .catalog-block {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
    }

    .catalog-block .catalog-item {
        position: relative;
        min-height: 280px;
        width: 280px;
        display: inline-block;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 15px 0px;
        font-family: open sans,sans-serif;
        text-align: left;
        font: bold normal normal 20px/1.8em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
        color: #577083;
    }

    .catalog-block .catalog-item .image {
        overflow: hidden;
        width: 100%;
        height: 240px;
    }

    .catalog-block .catalog-item .image > img {
        height: 100%;
    }

    .catalog-block .catalog-item .text {
        position: relative;
        width: 70%;
        min-height: 90px;
        padding: 5px;
        margin-top: -80px;
        left: 0;
        background: rgba(191,20,20,.82);
    }

    .image-card {
        /*display: inline-block;*/
        margin:15px;
        width: 250px;
        height: 300px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 15px 0px;
        font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
        text-align: center;
        font: bold normal normal 19px/1.7em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
        color: #605E5E;
    }

    .image-card > img {
        width: 100%;
        height:200px;
    }

    .image-card > div {
        height: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .image-card-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer {

    }
    .footer {
        display: flex;
        height: 150px;
        width: 980px;
        margin: 0 auto;
        position: relative;
        bottom: 0;
        color: white;
        background-color:  rgba(179, 1, 1, 1);
    }

    .footer .title {
        text-align: center;
        width: 400px;
        display: flex;
        align-items: center;
    }

    .footer .contact {
        width: 450px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 50px;
        align-content: space-around;
        display: flex;
        flex-wrap: wrap;

    }

    .follow-footer {
        width: 250px;
        height: 100%;
        padding: 10px;
        color: white !important;
        font-size: 40px;
        text-align: center;
        margin-left: 120px;
    }

    .fa-phone:before, .fa-mail:before {
        left: -40px;
    }

    .follow-footer .social-logo{
        width: 53px;
        height: 53px;
        object-fit: cover;
    }

    .prices {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        text-decoration: none;
        flex-wrap: wrap;
    }

    .prices a {
        text-decoration: none;
        padding-bottom: 50px;
    }

    .prices .prices-card {
        transition: 0.5ms;
        flex-direction: column;
        position: relative;
        text-decoration: none;
        display: flex;
        padding: 10px 10px 10px 0;
        font: normal normal normal 16px/1.3em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
        background-color: rgba(255, 194, 78, 0.05);
        width: 350px;
        height: 480px;
        box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);
    }

    .prices .prices-card:hover {
        box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
        transform: translate(-2px, -2px);
        transition: 0.5ms;
        background-color: rgba(255, 255, 255, .2);;
    }

    .prices .prices-card h3 {
        margin-top: 30px;
    }

    .prices .prices-card .more-info {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        bottom: 0;
        font: normal normal normal 28px/1.3em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
        width: 100%;
        height: 70px;
        background: rgba(192, 26, 37, 0.8);

    }

    .prices .prices-card .more-info:hover {
        background: rgba(71, 69, 73, 0.9);
        background: rgb(146, 20, 28);
    }

    /*question and tell form*/
    .wrapper-tell {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9999 !important;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,.4);
        margin-top: -10px;
    }
    * {box-sizing: border-box;}
    .transparent {
        position: relative;
        margin: 250px auto;
        padding: 50px 60px;
        width: 850px;
        height: 720px;
        background-image: url(../img/logo/background_1.jpg);
        background-size: cover;
    }
    .transparent:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
    }
    .form-inner {position: relative;
        font-size: 6vw !important;}
    .form-inner h3 {
        position: relative;
        margin-top: 0;
        color: white;
        font-family: 'OpenSans', sans-serif;
        font-weight: 300;
        font-size: 6vw;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    .form-inner label {
        display: block;
        padding-left: 15px;
        font-family: 'Roboto', sans-serif;
        color: rgba(255,255,255,.6);
        text-transform: uppercase;
        font-size: 6vw;
    }
    .form-inner input {
        display: block;
        width: 100%;
        padding: 0 15px;
        margin: 10px 0 15px;
        border-width: 0;
        line-height: 40px;
        border-radius: 20px;
        color: white;
        background: rgba(255,255,255,.2);
        font-family: 'Roboto', sans-serif;
    }
    .form-inner input[type="submit"] {
        font-size: 6vw;
        background: #1762EE;}

    .open-question {
        z-index: 999 !important;
        width: 70px;
        height: 70px;
        position: fixed;
        bottom: 20px;
        left: 20px;
    }

    .open-question:hover {
        box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5ms; border-radius: 70px
    }

    /*question and tell form end*/

}


#question-block {
    min-width: 400px;
    position: fixed;
    bottom: 0;
    z-index: 2000;
    display: none;
}

    /*question and tell form*/
    .wrapper-tell {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9999 !important;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,.4);
        margin-top: -10px;
    }
    * {box-sizing: border-box;}
    .transparent {
        position: relative;
        max-width: 400px;
        padding: 40px 50px;
        margin: 50px auto 0;
        background-image: url(../img/logo/background_1.jpg);
        background-size: cover;
    }
    .transparent:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
    }
    .form-inner {position: relative;}
    .form-inner h3 {
        position: relative;
        margin-top: 0;
        color: white;
        font-family: 'OpenSans', sans-serif;
        font-weight: 300;
        font-size: 26px;
        text-transform: uppercase;
    }

    .form-inner label {
        display: block;
        padding-left: 15px;
        font-family: 'Roboto', sans-serif;
        color: rgba(255,255,255,.6);
        text-transform: uppercase;
        font-size: 14px;
    }
    .form-inner input {
        display: block;
        width: 100%;
        padding: 0 15px;
        margin: 10px 0 15px;
        border-width: 0;
        line-height: 40px;
        border-radius: 20px;
        color: white;
        background: rgba(255,255,255,.2);
        font-family: 'Roboto', sans-serif;
    }
    .form-inner input[type="submit"] {background: #1762EE;}

    .open-question {
        z-index: 999 !important;
        width: 70px;
        height: 70px;
        position: fixed;
        bottom: 20px;
        left: 20px;
    }
    .open-question:hover {
        box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5ms; border-radius: 70px
    }

    /*question and tell form end*/

    .wrapper {
        width: 80%;
        min-width: 1024px;
        max-width: 1024px;
    }

    .wrapper-block {
        /*opacity: 0.9;*/
        margin: 20px auto;
        width: 1024px;
        min-height: 300px;
        padding: 35px 35px 15px 35px;
        background-color: white;
        box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
        font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    }

    .wrapper-block-title {
        margin: 20px auto;
        width: 1024px;
        min-height: 50px;
        padding: 15px 15px 15px 15px;
        background-color: #792433;
        color: white !important;
        box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    }
    .wrapper-block-title > div {
        margin: 0 auto;
        border: 3px solid white;
        width: 980px;
        min-height: 44px;
        background-color: #d50000;
        padding: 10px
    }
    .wrapper-block-title h2 {
        color: white !important;
    }

    footer{
        position: relative;
        bottom: 0;
    }
    .footer {
        background-color: rgba(179, 1, 1, 1);
        display: flex;
        height: 140px;
        width: 1024px;
        margin: 0;
        position: relative;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        color: white !important;
        justify-content: space-around;
    }

    .footer .title {
        text-align: center;
        width: 400px;
        display: flex;
        align-items: center;
        margin-right: 30px; }

    .footer .contact a h4, footer .title h4{
        font-size: 24px;
        color: white !important; }

    .footer .contact {
        width: 300px;
        padding-top: 30px;
        padding-bottom: 30px;
        align-content: space-around;
        display: flex;
        flex-wrap: wrap; }



    .follow-footer {
        width: 200px;
        height: 100%;
        padding: 10px;
        color: white !important;
        font-size: 44px;
        text-align: center; }

    .follow-footer .social-logo{
        width: 53px;
        height: 53px;
        object-fit: cover;
    }

    .btn_tell {
        background-color: transparent;
        border: solid rgba(50, 50, 50, 1) 2px;
        cursor: pointer !important;
        text-align: initial;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 50px;
        text-align: center;
        flex-wrap: nowrap;
        font: bold normal normal 18px/1.2em avenir-lt-w01_85-heavy1475544,sans-serif;
        transition: color 0.4s ease 0s;
        color: #323232;
        width: 132px;
    }
    .content_foto {
        width: 1024px;
        margin: 0 auto; }
    .five-stars .causes {
        width: 100%;
        display: flex;
        flex-wrap: wrap; }

    .five-stars .causes > div {
        width: 920px;
        min-height: 100px;
        margin: 10px auto;
        text-align: center;
        font-size: 1.5em;
        vertical-align: center;
        line-height: 30px;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        background-color: #792433;
        justify-content: center; }

    .five-stars .causes > div > div {
        min-height: 80px;
        border: 3px solid white;
        color: white;
        width: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: rgba(179, 1, 1, 1);
        font-size: 20px; }

    .image-card {
        margin:15px;
        width: 200px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 15px 0px;
        font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
        text-align: center;
        font: bold normal normal 15px/1.7em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
        color: #605E5E;
        overflow: hidden; }

    .image-card > img {
        height:180px;
        transform: translate(-35px); }

    .image-card > div {
        padding: 5px;
        align-items: center;
        flex-direction: column;
    }

    .image-card-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .prices {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        text-decoration: none;
    }

    .prices a {
        text-decoration: none;
    }

    .prices .prices-card {
        transition: 0.5ms;
        flex-direction: column;
        position: relative;
        text-decoration: none;
        display: flex;
        padding: 10px 10px 10px 0;
        font: normal normal normal 16px/1.3em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
        background-color: rgba(255, 194, 78, 0.05);
        width: 200px;
        height: 280px;
        box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);
    }

    .prices .prices-card:hover {
        box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
        transform: translate(-2px, -2px);
        transition: 0.5ms;
        background-color: rgba(255, 255, 255, .2);;
    }

    .prices .prices-card h3 {
        margin-top: 30px;
    }

    .prices .prices-card .more-info {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        bottom: 0;
        font: normal normal normal 28px/1.3em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
        width: 100%;
        height: 70px;
        background: rgba(192, 26, 37, 0.8);

    }

    .prices .prices-card .more-info:hover {
        background: rgba(71, 69, 73, 0.9);
        background: rgb(146, 20, 28);
    }

    .catalog-block {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
    }

    .catalog-block .catalog-item {
        position: relative;
        min-height: 280px;
        width: 280px;
        display: inline-block;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 15px 0px;
        font-family: open sans,sans-serif;
        text-align: left;
        font: bold normal normal 20px/1.8em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
        color: #577083;
    }

    .catalog-block .catalog-item .image {
        overflow: hidden;
        width: 100%;
        height: 240px;
    }

    .catalog-block .catalog-item .image > img {
        height: 100%;
    }

    .catalog-block .catalog-item .text {
        position: relative;
        width: 75%;
        min-height: 90px;
        padding: 5px;
        margin-top: -80px;
        left: 0;
        background: rgba(191,20,20,.82);;
    }

    .vkblock {
        position: relative;
        padding: 5px 15px 15px 15px;
        background-color: white;
        margin: 20px auto;
        box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    }

    .vkblock .causes {
        width: 100%;
        display: flex;
        margin-left: 15px;
        max-height: 250px;
        flex-direction: column;
    }

    .vk-foto-item {
        width: 200px;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .close-question {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .close-question img{
        position: absolute;
        top: -50px;
        right: -30px;
        width: 30px;
        height: 30px;
    }


    /*.vkblock .causes > div {*/
    /*width: 170px;*/
    /*height: 170px;*/
    /*margin: 20px auto;*/

    /*vertical-align: center;*/
    /*box-sizing: border-box;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*overflow: hidden;*/
    /*justify-content: center;*/
    /*}*/

    /*.vkblock .causes > div > img {*/
    /*height: 100%;*/
    /*}*/





/*desctop-menu*/

.header {
    height: 150px;

    min-width: 768px;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}

.header .logo {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 20%;
    /*background-color: aliceblue;*/
    text-align: center;
    font: normal normal normal 28px/1.5em din-next-w01-light;
    line-height: 50px;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;

}

.header .logo img {
    height: 150px;
}

.header .menu {

    /*background-color: #605E5E;*/
    position: absolute;
    right: 0;
    height: 50%;
    width: 80%;
    border-bottom: 2px solid black;

}

.header .menu .social {

    position: relative;
    height: 100%;
    box-sizing: border-box;
    /*padding: 15px;*/
    /*display: flex;*/
    /*align-items: center;*/
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .menu .social > span {
    /*height: %;*/
    align-items: center;
    vertical-align: middle;
    margin-right: 20px;
}

.header .menu .social > a {
    position: relative;
    display: inline-flex;
    height: 50%;

}

.header .menu .social > a > img {
    position: relative;
    display: inline-flex;
    height: 100%;
    padding: 0 15px;
}


.shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

.content {
    height: 350px;
    width: 80%;
    min-width: 768px;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: white;
    /*background-color: rgba(255, 255, 255, 0.9);*/
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    box-sizing: border-box;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    display: flex;
    justify-content: flex-start; }


#img {
    box-sizing: border-box;
    background-image: url("/img.jpg");

    width: 100%;
    height: 100%;
}

#nav7, #nav7 ul, #nav7 li {
    margin: 0;
    padding: 0;

}

#nav7 { /* Ð¿Ð¾Ð´Ð¼ÐµÐ½ÑŽ Ð¿ÐµÑ€ÐµÐ¼ÐµÑ‰Ð°ÐµÑ‚ÑÑ Ð¾Ñ‚Ð½Ð¾ÑÐ¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾ Ð¼ÐµÐ½ÑŽ */
    position: relative;
    display: table;
    width: 100%;
}
#nav7 ul { /* Ð¿Ð¾Ð´Ð¼ÐµÐ½ÑŽ Ð½Ð°Ñ…Ð¾Ð´Ð¸Ñ‚ÑÑ Ð²Ð½Ðµ Ð¿Ð¾Ñ‚Ð¾ÐºÐ° */
    position: absolute;
    z-index: 5;
    display: none;
    color: black;
}
#nav7 li:hover ul { /* Ð¿Ð¾Ð´Ð¼ÐµÐ½ÑŽ Ð±ÑƒÐ´ÐµÑ‚ Ð¿Ð¾ÐºÐ°Ð·Ð°Ð½Ð¾, ÐµÑÐ»Ð¸ ÐºÑƒÑ€ÑÐ¾Ñ€ Ð½Ð°Ð²ÐµÐ´Ñ‘Ð½ Ð½Ð° Ð¿ÑƒÐ½ÐºÑ‚ Ð¼ÐµÐ½ÑŽ Ñ Ð²Ñ‹Ð¿Ð°Ð´Ð°ÑŽÑ‰ÐµÐ¼ ÑÐ¿Ð¸ÑÐºÐ¾Ð¼ */
    display: block;
    color: black;
}
#nav7 li {
    color: black;
    display: table-cell;
    text-align: center;
}
li:hover {
    color:black;

}
#nav7 ul li {
    display: block;
    text-align: left;
}
#nav7 .right { /* Ð¿Ð¾ÑÐ»ÐµÐ´Ð½ÐµÐµ Ð¿Ð¾Ð´Ð¼ÐµÐ½ÑŽ Ð±ÑƒÐ´ÐµÑ‚ Ñ€Ð°ÑÑˆÐ¸Ñ€ÑÑ‚ÑŒÑÑ ÑÐ¿Ñ€Ð°Ð²Ð° Ð½Ð°Ð»ÐµÐ²Ð¾ */
    direction: rtl;
}
#nav7 .right ul { /* Ð´Ð»Ñ IE, Ñ€ÐµÑˆÐµÐ½Ð¸Ðµ Ð½Ð°Ð¹Ð´ÐµÐ½Ð¾ ÑÐ»ÑƒÑ‡Ð°Ð¹Ð½Ð¾, Ð³Ð´Ðµ ÑÐ²ÑÐ·ÑŒ ??? */
    right: 0;
}
#nav7 .right li { /* Ð¿Ð¾ÑÐ»ÐµÐ´Ð½ÐµÐµ Ð¿Ð¾Ð´Ð¼ÐµÐ½ÑŽ Ð±ÑƒÐ´ÐµÑ‚ Ñ€Ð°ÑÑˆÐ¸Ñ€ÑÑ‚ÑŒÑÑ ÑÐ¿Ñ€Ð°Ð²Ð° Ð½Ð°Ð»ÐµÐ²Ð¾, Ð½Ð¾ Ð½Ðµ Ð¿ÑƒÐ½ÐºÑ‚Ñ‹ Ð¿Ð¾ÑÐ»ÐµÐ´Ð½ÐµÐ³Ð¾ Ð¿Ð¾Ð´Ð¼ÐµÐ½ÑŽ */
    direction: ltr;
}
#nav7 a {

    display: block;
    padding: 13px 15px;
    /*color: #fff;*/
    text-decoration: none;
    /*padding: 0 10px;*/
    font: normal normal 700 18px/1.2em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: black;
    transition: color 0.4s ease 0s;
}

#nav7 ul a {
    padding: 5px 25px;
    text-align: center;
}
#nav7 li:hover {
    background: rgba(172,82,92, 0.25);
    color: black;
}

#title {
    font: normal normal normal 17px/1.2em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: #d82222;
    max-width: 280px;
}

#time_job {
    align-items: flex-start;

}

#time_job > div {
    font: normal normal normal 17px/1.2em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: #605E5E;
    margin-bottom: 5px;
    font-weight: 600;

}

#time_job > div>a{
    text-decoration: none;
    color: #605E5E;
}
#tell {
    font: normal normal normal 18px/1.3em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;

}

nav {
    margin: auto;
    width: 100%;
}



.btn_tell:hover {
    transition: color 0.5s ease 0s;
    background-color: black;
    color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 0 0 2px white, 0 0 0 4px; /*Ð¿Ð¾ÑÐ²Ð»ÐµÐ½Ð¸Ðµ Ñ€Ð°Ð´Ð¸ÑƒÑÐ° Ð¿Ñ€Ð¸ Ð½Ð°Ð²ÐµÐ´ÐµÐ½Ð¸Ð¸*/
}
.btn_tell:active {
    color: #323232;
    background-color: #EEEEEE;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);

}






/*popup*/
/* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ð·Ð°Ñ‚ÐµÐ¼Ð½ÐµÐ½Ð¸Ñ Ñ„Ð¾Ð½Ð° */
.popup-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 186, 0, 0.7);
    z-index: 100;
}

/* ÐžÑÐ½Ð¾Ð²Ð½Ñ‹Ðµ ÑÑ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ð²ÑÐ¿Ð»Ñ‹Ð²Ð°ÑŽÑ‰ÐµÐ³Ð¾ Ð¾ÐºÐ½Ð° */
.popWindow{
    display: none;
    background-color: #161613;
    color: #fff;
    width: 90%;
    max-width: 720px;
    padding: 40px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -360px;
    margin-top: -185px;
    text-align: center;
    box-shadow: 0 0 30px rgba(18, 17, 12, 0.5);
}
/* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ð°Ð´Ð°Ð¿Ñ‚Ð¸Ð²Ð½Ð¾ÑÑ‚Ð¸ Ð²ÑÐ¿Ð»Ñ‹Ð²Ð°ÑŽÑ‰ÐµÐ³Ð¾ Ð¾ÐºÐ½Ð° */
@media only screen and (max-width : 800px) {
    .popWindow {
        margin-left: -45%;
    }
}
/* ÐšÐ½Ð¾Ð¿ÐºÐ° Ð·Ð°ÐºÑ€Ñ‹Ñ‚ÑŒ Ð²ÑÐ¿Ð»Ñ‹Ð²Ð°ÑŽÑ‰ÐµÐµ Ð¾ÐºÐ½Ð¾ */
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    line-height: 20px;
    cursor: pointer;
    color: #999;
    padding: 10px;
}
/* ÐŸÑ€Ð¾ÑÑ‚Ð¾ Ñ‚ÐµÐºÑÑ‚ */
.subscribe_window .subcsribe-text {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 40px;
    position: relative;
    padding: 0 50px;
    z-index: 10;
}
/* Ð¢ÐµÐºÑÑ‚ */
.subscribe_window .req-fields {
    color: #676767;
    text-align: left;
}
/* Ð¡Ñ‚Ð¸Ð»Ð¸ Ñ„Ð¾Ñ€Ð¼Ñ‹ */
.subscribe-form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.subscribe-form div {
    position: relative;
}
.subscribe-form input {
    border: 1px solid #3d3d3d;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 32px;
    padding: 5px 20px;
    margin-bottom: 20px;
    outline: none;
    background: #2e2e2b;
    color: #fff;
    border-radius: 4px;
}
.btn {
    color: #161613;
    background-color: #ffba00;
    padding: 10px 50px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ffba00;
    box-shadow: none;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.btn:hover, .btn:focus {
    background-color: #ffba00;
    color: #fff;
    text-decoration: none;
}
.subscribe-form .btn {
    font-size: 24px;
    line-height: 54px;
    border: none;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border-radius: 4px;
}
.subscribe-form .btn:hover {
    background-color: #e6a700;
}
.subscribe-form .btn i {
    font-size: 28px;
    margin-right: 7px;
}
.subscribe-form label {
    color: #fff;
    position: absolute;
    top: 12px;
    left: 20px;
    -webkit-transition: 0.28s;
    transition: 0.28s;
}
.subscribe-form label span {
    color: #ffba00;
}
.subscribe-form input:focus + label {
    left: -62px;
    font-size: 12px;
}
.subscribe-form input:invalid {
    box-shadow: none;
}
.subscribe-form input:valid {
    border: 1px solid #161613;
}
.subscribe-form input:valid + label {
    left: -62px;
    font-size: 12px;
}
.subscribe-form input:invalid:not(:focus):not(:placeholder-shown) {
    border: 1px solid #d3362a;
}
.subscribe-form input:invalid:not(:focus):not(:placeholder-shown) + label {
    left: -62px;
    font-size: 12px;
}
@media only screen and (max-width : 480px) {
    .subscribe_window{
        top: 5%;
        margin-top: 0;
    }
    .subscribe_window .subcsribe-text{
        padding: 0;
    }
    .subscribe-form input:focus + label{
        left: 20px;
        top: -18px;
    }
    .subscribe-form input:valid + label{
        left: 20px;
        top: -18px;
    }
    .subscribe-form input:invalid:not(:focus):not(:placeholder-shown) + label{
        left: 20px;
        top: -18px;
    }
}

/* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ñ‚ÐµÐºÑÑ‚Ð° Ð²Ð½ÑƒÑ‚Ñ€Ð¸ Ð±Ð»Ð°Ð³Ð¾Ð´Ð°Ñ€ÑÑ‚Ð²ÐµÐ½Ð½Ð¾Ð³Ð¾ Ð¾ÐºÐ½Ð° Ð¿Ð¾ÑÐ»Ðµ ÑƒÑÐ¿ÐµÑˆÐ½Ð¾Ð¹ Ð¾Ñ‚Ð¿Ñ€Ð°Ð²ÐºÐ¸ */
.thank_you_window .thank_you_title {
    font-family: "Titillium Web", sans-serif;
    color: #fff;
    font-size: 32px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}
.thank_you_window .thank_you_body {
    font-family: "Titillium Web", sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}
/*endpopup*/