/* ---------- Google Font ---------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800);


.alignleft, img.alignleft{
display: inline;
    float: left;
    margin-right: 22px;
}

.alignright, img.alignright {
    display: inline;
    float: right;
    margin-left: 22px;
}

.aligncenter, img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.desctop-menu {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 80%;

}

.desc-menu{

    display: flex;

    justify-content: space-around;
}

.desc-menu li{display: inline-block;
position: relative;
z-index:100;}

.desc-menu li:first-child{margin-left:0;}

.menu-a{
    padding:13px 45px !important;
}
.desc-menu li a {

    font: normal normal normal 23px/1.3em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: #605E5E;
    text-decoration:none;
    padding:13px;
    display:block;

-webkit-transition: all 0.1s ease-in-out 0s;
   -moz-transition: all 0.1s ease-in-out 0s;
   -o-transition: all 0.1s ease-in-out 0s;
   -ms-transition: all 0.1s ease-in-out 0s;
   transition: all 0.1s ease-in-out 0s;
}

.desc-menu li a:hover, .desc-menu li:hover > a{
    color: #6c6a6e;
    background:#bf1414ad;
    box-shadow:  0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

.desc-menu li a:active{
    box-shadow:  0 5px 5px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
}

.desc-menu ul {display: none;
margin: 0;
padding: 0;
width: 150px;
position: absolute;
top: 43px;
left: 0px;
background: #bf1414ad;
}

.desc-menu ul li {display:block;
float: none;
background:none;
margin:0;
padding:0;
}
.desc-menu ul li a {font-size:12px;
font-weight:normal;
display:block;
color:#797979;
border-left:3px solid #ffffff;
background:#ffffff;}

.desc-menu ul li a:hover, .desc-menu ul li:hover > a{
background:#f0f0f0;
border-left:3px solid #9CA3DA;
color:#797979;
}

.desc-menu li:hover > ul{
    margin-top: 12px;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    display: block;}
.desc-menu ul ul {left: 149px;
	top: 0px;
}

.mobile-menu{display:none;
width:100%;
padding:11px;
background:#3E4156;
color: #474549;
text-transform:uppercase;
font-weight:600;
}
.mobile-menu:hover{background:#3E4156;
color: #474549;
text-decoration:none;
}






